* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-image: url(./images/forest.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

header:hover, footer:hover {
    font-size: 1.3em;
}

header, footer {
    /* background-image: url(./images/forest.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    letter-spacing: 5px;
}

header {
    display: flex;
    padding: 10px;
    border-bottom: 3px solid black;
    /* margin-bottom: 30px; */
    align-items: center;
    justify-content: center;
}

canvas {
    border: 3px solid green;
    background-color: rgb(255, 255, 255, 0.3);
}

.settings {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px dotted green;
    border-radius: 5%;
    background-color: rgb(255, 255, 255, 0.3);
}

button {
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 75px;
    font-size: 1em;
    border: 2px solid green;
    border-radius: 10%;
    color: green;
    background-color: rgb(255, 255, 255, 0.3);
}

button:hover {
    font-size: 2em;
    font-weight: bold;
    width: 200px;
    height: 100px;
    border: 5px solid green;
    border-radius: 5%;
}

.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: green;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* SELECT BUTTON FOR DIFFICULTY */
/* select {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.3);
    color: green;
    border: 2px solid green;
    font-size: 1em;
} */

.main {
    height: 590px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url(./images/forest.gif); */
    background-size: cover;
    background-repeat: no-repeat;
}

.board {
    height: 400px;
    border: 3px solid green;
    /* border-radius: 5%; */
    background-color: rgb(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.board:hover {
    /* font-weight: bold; */
    font-size: x-large;
    border: 5px solid green;
}

.rules {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules li {
    list-style-type: none;
}

.score h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#points {
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 10px;
    border-top: 3px solid black;
    /* margin-top: 30px; */
    align-items: center;
    justify-content: space-between;
}